body {
    font-family: system-ui;
    background: #010409;
    color: white;
    text-align: center;
  }
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 768px;
}
  #liveTime{
    font-size: 64px;
    background-color: #0d1117;
    padding: 32px;
    border-radius: 10px;
  }